.deal-list-page {
	background: transparent;
	padding-top: 50vh;
}

.deal-list-content {
	background: linear-gradient(transparent, 25%, white);
	min-height: 100vh;
	z-index: 2;
}


.header-bg {
	width: 100%;
	max-height: 100vh;
	position: absolute;
	top:0;
	left:0;
	z-index: -1;
	overflow: hidden;
}

.header-bg-main {
	width: 75%;
	opacity: 0;
}

.header-bg-right-top {
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
}

.header-bg-right-bottom {
	position: absolute;
	right: 0;
	bottom: -6%;
	width: 37%;
}

.header-bg-left {
	position: absolute;
	left: 0;
	top: 0;
	width: 75%;
}

.header-logo {
	position: absolute;
	top: 5%;
	right: 5%;
	width: 30%;
	z-index: 1;
}
.header-logo img {
	width: 100%;
}

.user-login-logout-wrapper {
	display: flex;
	justify-content: end;
}

.user-login-logout {
	position: relative;
	border-radius: 15px;
	cursor: pointer;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
	margin-right: 0;
}


.user-logout {
	display: none;
	position: absolute;
	left:10%;
	top: 100%;
	width: 80%;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.user-login-logout:hover .user-logout {
	display: block;
}

.signature {
	display:flex;
}

.signature img {
	margin: auto;
}
